<div class="container">
<br>
<button mat-raised-button [routerLink]="['/verAnuncios']" color ="warn"><- Voltar</button>
<br>
<br>
<mat-grid-list cols="3" rowHeight="100px"  gutterSize="5px">
    <mat-grid-tile  [colspan]=2 [rowspan]=4 [style.background]="'gray'" >

    <img  style="object-fit: cover; height: inherit; width: inherit;" src="assets/celta.jpg" alt="beer" >

    </mat-grid-tile>


    <mat-grid-tile [colspan]=1 [rowspan]=4 [style.background]="'#642EFE'" >
      <mat-grid-tile-header>
        <h3>{{anuncio.title}}</h3>
      </mat-grid-tile-header>



        <span [style.color]="'white'">{{anuncio.description}}</span>


      <mat-grid-tile-footer>
        <h3>PRICE {{anuncio.preco}}</h3>
      </mat-grid-tile-footer>
    </mat-grid-tile>

<mat-grid-tile
[colspan]=3
[rowspan]=3
[style.background]="'gray'"
 >

TEST

</mat-grid-tile>



  </mat-grid-list>
</div>
