/* .tile-image {
  width:80%;
  height: auto;
} */

.text-inside-grid {
  position: absolute;
  left: 5px;
}

.mat-column-Comentario {
  flex: 0 0 450px;
}
.mat-column-UserName {
  flex: 0 0 100px;
}
.mat-column-Pontuacao {
  flex: 0 0 100px;
}

.mat-table{
  width:90%;
}

.spacer{
  flex: 1 1;
}






