<div class="row align-items-center h-100">
    <div class="col-6 mx-auto" fxLayoutGap="100px">
        <div class="jumbotron" fxLayout="column" fxLayoutAlign="center center">
            <h1 class="card-title d-flex align-items-center">Search</h1>
            <input type="text" class="d-flex align-items-center"   fxLayoutGap="20px grid" 
            fxLayout="row" fxLayoutAlign="center center" style="width: 400px;height:40px" placeholder="Digite um carro ou uma marca">
            <div fxLayout="row" fxLayoutGap="20px" style="position:absolute;top:140px">
                <button class="btn btn-primary" >Procurar</button>
                <button class="btn btn-primary" >Ver todos</button>
            </div>
        </div>  
    </div>
</div>