
.example-container {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
}




.example-card {
  max-width: 220px;
  margin: 20px;
}

#card-container {
  display: flex;
      flex-flow: row wrap;
  }

  .mat-card-footer{
    background-color:grey !important;
    padding:5px !important;
  }

.example-full-width {
  width: 100%;
}
