<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <div class="container">
  <a class="navbar-brand" >SalesProject</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Ver ofertas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Anunciar veiculo</a>
      </li>
    </ul>
  </div>
</div>
</nav>

<br>


<!-- <div class="container">

<div class="card-deck "  style="width: 30rem">
  <div class="card ">
    <img class="card-img-top" src="assets/celta.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Text here</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Price 100000k</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/celta.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Price 100000k</small>
    </div>
  </div>
</div>

</div> -->
