<mat-sidenav-container class="example-container">
    <mat-sidenav   mode="side" opened class="example-sidenav">
      <mat-nav-list>
        <br>
        <br>
        <mat-list-item>
          <mat-form-field [style.padding.px]=10 >
            <!-- [(ngModel)]="selectedValue"  put this in mat-option after integration with backend -->
            <mat-label>Marca</mat-label>
            <mat-select [(ngModel)]="selectedMarca" name="marcas">
              <mat-option *ngFor="let marca of marcas" (click) ="getAnunciosByFilters()" value = {{marca}}>
                {{marca}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </mat-list-item>
      <br>
      <br>
      <mat-list-item>
        <h3>Carros:</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-radio-group   [(ngModel)]="selectedNovo" (change)="getAnunciosByFilters()">
          <mat-radio-button [value]="true" class="example-margin" >Novos</mat-radio-button>
          <mat-radio-button [value]="false" class="example-margin">Usados</mat-radio-button>
        </mat-radio-group>
      </mat-list-item>
      <br>
      <mat-list-item>
        <h3>Preço:</h3>
      </mat-list-item>
      <mat-list-item>
      <form (change)="getAnunciosByFilters()">
        <mat-form-field  [style.width.px]=100 [style.padding.px]=10 class="test-mat-field">
          <mat-label>De</mat-label>
          <input matInput [(ngModel)]="precoMin" name="precoM" placeholder="Ex. 5000">
        </mat-form-field>
        <mat-form-field [style.width.px]=100  [style.padding.px]=10 class="test-mat-field">
          <mat-label>Até</mat-label>
          <input matInput [(ngModel)]="precoMax" name= "precoMin" placeholder="Ex. 30000">
        </mat-form-field>
      </form>
    </mat-list-item>




      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >





      <div id="card-container">
      <mat-card *ngFor="let anuncio of filteredAnuncios" class="example-card" >
        <mat-card-header >
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{anuncio.title}}</mat-card-title>
          <mat-card-subtitle>{{anuncio.description}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/celta.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
           {{anuncio.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button  [routerLink]="['/anuncio', anuncio.id]" mat-raised-button color ="warn">Ver</button>
        </mat-card-actions>
        <mat-card-footer >${{anuncio.preco}} </mat-card-footer>

      </mat-card>

    </div>


    </mat-sidenav-content>







  </mat-sidenav-container>

